.homePage {
    flex: 0.86;
    background-color: #f9f9f9;
    padding: 20px;
    padding-bottom: 0;
}

.homePage > h2 {
    margin: 15px 5px;
    font-weight: 500;
}

.homePage > hr {
    height: 4px;
    border: 0;
    background-color: #e6e6e6;
    margin: 10px 0;
}

.homePage__videos {
    display: flex;
    flex-wrap: wrap;
}
