.videoPlayer__container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.videoPlayer__container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.videoPlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}