.searchPage {
    padding: 16px 24px;
    padding-bottom: 0;
}

.searchPage__page {
    margin: 0 auto;
    width: 80%;
}

.searchPage__filter {
    display: flex;
    align-items: center;
    color: #606060;

}

.searchPage__filter > h2 {
    margin-left: 10px;
    font-size: 13.5px !important;
    font-weight: 600;
    text-transform: uppercase;
}

.searchPage__page > hr {
    height: 1px;
    border: 0;
    background-color: #e6e6e6;
    margin: 10px 0;
}

@media (max-width: 1300px) {
    .searchPage__page {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .searchPage {
        padding: 16px 12px;
    }
}