.sidebar {
    width: 265px;
    padding: 12px 0;
}

.sidebar > hr {
    height: 1px;
    border: 0;
    background-color: #e6e6e6;
    margin: 10px 0;
}

@media (max-width: 1300px) {
    .sidebar {
        width: 90px;
    }

    .sidebar > hr {
        margin: 0;
        background-color: transparent;
    }
}