.sidebarItem {
    display: flex;
    align-items: center;
    padding: 9px 24px;
}

.sidebarItem:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.selected .sidebarItem {
    background-color: #e5e5e5;
}

.selected > .sidebarItem .sidebarItem__icon {
    color: red;
}

.selected > .sidebarItem .sidebarItem__title {
    color: black;
}

.selected .sidebarItem:hover {
    background-color: lightgray;
}

.sidebarItem__icon {
    color: #606060;
    font-size: 22px !important;
}

.sidebarItem__title {
    color: #696969;
    flex: 1;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
}

@media (max-width: 1300px) {
    .sidebarItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px 4px;
    }

    .sidebarItem__title {
        margin: 0;
        margin-top: 4px;
        font-size: 12px;
    }
}